<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- Title
    ================================================== -->
    <meta charset="utf-8">
    <title>About</title>

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>


<body id="top">
    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

  
    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-header bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">CSCI4831-COMPUTER VISION</h3>
                <h1 class="display-1">
                Introducing Muggle Magic
                </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row bit-narrow">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">What's Muggle?</h4>
                        <p>
                        Muggle is the a word which means the people who do not know the magic.
                        </p>
                    </div>
                </div>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">What's Muggle's Magic?</h4>
                        <p>
                        Techology is Muggle's magic
                        </p>
                    </div>
                </div>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">What we do?</h4>
                        <p>
                        Our interesting magic contains making people become younger and making a real world photograph into hand-drawing cartoon photograph. Everyone can have their own art collections now! Also we can give people a fake glasses and beards. 
                        </p>
                        </br>
                        <a href="index.html" style="font-size: 30px">Let's try it out! >  </a>
                    </div>
                </div>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">TEAM Member</h4>
                        <p>
                        Shanli Ding, Muyu Deng. Undergraduate
                        </p>
                    </div>
                </div>

            </div> <!-- end process -->

        </div> <!-- end row -->

    </section> <!-- end s-about -->





    </div> <!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>